<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <p class="font-inter font-semibold text-2xl text-zinc-800 dark:text-zinc-50">
    Create a new password
  </p>
  <p class="font-inter text-base text-zinc-800 mb-4 dark:text-zinc-50">
    Set a strong password to secure your account.
  </p>
  <hr class="text-zinc-200 mb-6 dark:text-zinc-600">

  <div class="mb-4">
    <lib-ui-label forId="password">New Password</lib-ui-label>
    <lib-custom-input
      formControlName="password"
      type="password"
      placeholder="********"
      [isInvalid]="!!passwordError()"
      [errorMessage]="passwordError()"
    />
  </div>

  <div class="mb-4">
    <lib-ui-label forId="confirmPassword">Confirm Password</lib-ui-label>
    <lib-custom-input
      formControlName="confirmPassword"
      type="password"
      placeholder="********"
      [isInvalid]="!!confirmPasswordError()"
      [errorMessage]="confirmPasswordError()"
    />
  </div>

  <lib-ui-button type="submit" [loading]="loading.isLoading()">
    Reset Password
  </lib-ui-button>

  @if (showToast()) {
    <div class="mt-6 flex justify-center">
      <lib-ui-toast
        [message]="toastMessage()"
        (dismissed)="onToastDismiss()"
      />
    </div>
  }
</form>