<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <p class="font-inter font-semibold text-2xl text-zinc-800 dark:text-zinc-50">
    {{ 'AUTH.RESET.TITLE' | translate }}
  </p>
  <p class="font-inter text-base text-zinc-800 mb-4 dark:text-zinc-50">
    {{ 'AUTH.RESET.DESCRIPTION' | translate }}
  </p>
  <hr class="text-zinc-200 mb-6 dark:text-zinc-600">

  <div class="mb-4">
    <lib-custom-input
      id="password"
      [label]="'AUTH.RESET.NEW_PASSWORD' | translate"
      formControlName="password"
      type="password"
      placeholder="********"
      [isInvalid]="!!passwordError()"
      [errorMessage]="passwordError()"
    />
  </div>

  <div class="mb-4">
    <lib-custom-input
      id="confirmPassword"
      [label]="'AUTH.COMMON.CONFIRM_PASSWORD' | translate"
      formControlName="confirmPassword"
      type="password"
      placeholder="********"
      [isInvalid]="!!confirmPasswordError()"
      [errorMessage]="confirmPasswordError()"
    />
  </div>

  <lib-ui-button type="submit" [loading]="loading.isLoading()">
    {{ 'AUTH.RESET.SUBMIT' | translate }}
  </lib-ui-button>

</form>
