<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <p class="font-inter font-semibold text-2xl text-zinc-800">Create a new password</p>
    <p class="font-inter text-base text-zinc-800 mb-4">Set a strong password to secure your account.</p>
    <hr class="text-zinc-200 mb-6">

      <!-- Password -->
  <div class="mb-4">
    <label for="password" class="block text-sm font-medium text-gray-800 mb-2">
      Password
    </label>

    <div class="flex flex-col relative">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="********" formControlName="password"
        class="w-full font-inter rounded-[10px] border border-zinc-300 p-4 focus:outline-none hover:border-zinc-400 focus:border-maroon-600 placeholder:text-zinc-400"/>
    </div>
  </div>

      <!-- Confirm Password -->
  <div>
    <label for="confirmPassword" class="block text-sm font-medium text-gray-800 mb-2">
      Confirm Password
    </label>

    <div class="flex flex-col relative">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="********" formControlName="confirmPassword"
        class="w-full font-inter rounded-[10px] border border-zinc-300 p-4 focus:outline-none hover:border-zinc-400 focus:border-maroon-600 placeholder:text-zinc-400"/>
    </div>
  </div>
  

  <!-- Button -->
  <app-auth-button [loading]="isSubmitting">
    Reset Password
  </app-auth-button>


</form>