.home-sections {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.home-sections > * {
  display: block;
}

@media (max-width: 64rem) {
  .home-sections {
    gap: 4rem;
  }
}

@media (max-width: 40rem) {
  .home-sections {
    gap: 3rem;
  }
}
