/* Font families */
.font-sarabun {
  font-family: 'Sarabun', sans-serif;
}

.font-tajawal {
  font-family: 'Tajawal', sans-serif;
}

.font-edwardian {
  font-family: 'Edwardian Script ITC', cursive;
}

.font-zain {
  font-family: 'Zain', sans-serif;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
