/* Font families */
.font-sarabun {
  font-family: 'Sarabun', sans-serif;
}

.font-tajawal {
  font-family: 'Tajawal', sans-serif;
}

.font-edwardian {
  font-family: 'Edwardian Script ITC', cursive;
<<<<<<< HEAD
}

.font-zain {
  font-family: 'Zain', sans-serif;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
=======
>>>>>>> parent of 48268b8 (Revert "Feature/folder structure")
}