<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-5">
    <lib-custom-input
      id="currentPassword"
      class="block w-full"
      [label]="'SETTINGS.CHANGE_PASSWORD.OLD_PASSWORD' | translate"
      formControlName="currentPassword"
      type="password"
      placeholder="********"
      [isInvalid]="!!currentPasswordError()"
      [errorMessage]="currentPasswordError()"
    />
  </div>

  <hr class="mb-5 border-t border-zinc-200 dark:border-zinc-700" />

  <div class="mb-5">
    <lib-custom-input
      id="newPassword"
      class="block w-full"
      [label]="'SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD' | translate"
      formControlName="newPassword"
      type="password"
      placeholder="********"
      [isInvalid]="!!newPasswordError()"
      [errorMessage]="newPasswordError()"
    />
  </div>

  <div class="mb-8">
    <lib-custom-input
      id="confirmPassword"
      class="block w-full"
      [label]="'SETTINGS.CHANGE_PASSWORD.CONFIRM_NEW_PASSWORD' | translate"
      formControlName="confirmPassword"
      type="password"
      placeholder="********"
      [isInvalid]="!!confirmPasswordError()"
      [errorMessage]="confirmPasswordError()"
    />
  </div>

  <div class="flex justify-end">
    <app-custom-button
      variant="primary"
      [disabled]="loading.isLoading()"
      (btnClick)="onSubmit()"
    >
      {{
        loading.isLoading()
          ? ('SETTINGS.CHANGE_PASSWORD.SUBMITTING' | translate)
          : ('SETTINGS.CHANGE_PASSWORD.SUBMIT' | translate)
      }}
    </app-custom-button>
  </div>
</form>
