<<<<<<< HEAD
@import 'tailwindcss';
@import "./app/styles/base/tailwind.css";


@theme {
  --color-maroon-50: #fbeaea;
  --color-maroon-100: #f3c5c7;
  --color-maroon-200: #ea9fa2;
  --color-maroon-300: #e07a7d;
  --color-maroon-400: #d75458;
  --color-maroon-500: #cd2e33;
  --color-maroon-600: #a6252a;
  --color-maroon-700: #741c21;
  --color-maroon-800: #501419;
  --color-maroon-900: #2c0c10;
  --color-maroon-950: #20090c;
}
=======
/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "./app/styles/base/tailwind.css";
>>>>>>> parent of 48268b8 (Revert "Feature/folder structure")
