<div class="cart-items-wrapper">
  <div class="cart-header">
    <div class="cart-title-group">
      <h1 class="cart-title text-zinc-800 dark:text-zinc-50">
        {{ 'CART.TITLE' | translate }}
      </h1>
      <span class="cart-count text-zinc-400 dark:text-zinc-50"
        >{{ cartItems().length }} {{ 'CART.PRODUCTS' | translate }}</span
      >
    </div>
    @if (cartItems().length > 0) {
    <button class="clear-cart-btn bg-maroon-50" (click)="clearCart()">
      <svg lucideTrash2 [size]="16"></svg>
      {{ 'CART.CLEAR_CART' | translate }}
    </button>
    }
  </div>

  @if (cartItems().length === 0) {
  <div
    class="empty-cart-box bg-white dark:bg-zinc-500 border border-zinc-300 dark:border-zinc-600"
  >
    <img
      src="/images/no-cart%201.svg"
      alt="Empty Cart"
      class="empty-cart-img"
    />
    <p class="empty-cart-text">{{ 'CART.EMPTY_MESSAGE' | translate }}</p>
  </div>
  } @else {
  <div class="cart-list border border-zinc-200 dark:border-zinc-700">
    @for (item of cartItems(); track item.id) {
    <div class="cart-item-card border-b border-zinc-200 dark:border-zinc-700">
      <div class="item-image-wrapper">
        <img [src]="item.image" [alt]="item.title" class="item-image" />
      </div>
      <div class="item-details">
        <div class="item-top-row">
          <h3 class="item-title text-maroon-700 dark:text-soft-pink-200">
            {{item.title}}
          </h3>
          <button
            class="remove-btn bg-red-600 text-white dark:bg-maroon-50 dark:text-maroon-700"
            (click)="removeItem(item.id)"
          >
            <svg lucideTrash2 [size]="20"></svg>
            {{ 'CART.REMOVE' | translate }}
          </button>
        </div>
        <div class="item-rating">
          <svg lucideStar [size]="14" class="star-icon"></svg>
          <span class="rating-text text-black dark:text-zinc-50"
            >{{ 'CART.RATING' | translate }}: {{item.rating | number:'1.0-2'}}/5</span
          >
          <span class="reviews-text text-blue-600 dark:text-blue-400"
            >({{item.reviews}} {{ 'CART.RATINGS' | translate }})</span
          >
        </div>
        <div class="item-bottom-row">
          <div class="item-price">
            <span class="price-qty text-maroon-600 dark:text-soft-pink-200"
              >(x{{item.quantity}})</span
            >
            <span class="price-amount text-zinc-800 dark:text-zinc-50"
              >{{ (item.price * item.quantity) | number:'1.0-2' }}</span
            >
            <span class="price-currency text-zinc-800 dark:text-zinc-50"
              >EGP</span
            >
          </div>
          <div class="quantity-control">
            <button
              class="qty-btn bg-maroon-50"
              [disabled]="item.quantity <= 1"
              (click)="updateQuantity(item.id, -1)"
            >
              <svg lucideMinus [size]="20"></svg>
            </button>
            <lib-custom-input
              class="qty-input"
              type="number"
              [ngModel]="item.quantity"
              (ngModelChange)="setQuantity(item.id, $event)"
              inputClass="text-center text-zinc-400 dark:text-zinc-50 border-zinc-200 dark:border-zinc-700 !h-[3.0625rem]"
            ></lib-custom-input>
            <button
              class="qty-btn bg-maroon-50"
              [disabled]="item.quantity >= item.stock"
              (click)="updateQuantity(item.id, 1)"
            >
              <svg lucidePlus [size]="20"></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }

  <div class="cart-footer">
    <app-custom-button variant="primary" (btnClick)="continueShopping()">
      <svg lucideArrowLeft [size]="16" class="rtl:rotate-180"></svg>
      {{ 'CART.CONTINUE_SHOPPING' | translate }}
    </app-custom-button>
  </div>
</div>
