<div class="summary-wrapper">
  <h2 class="summary-title text-black dark:text-zinc-50">
    {{ 'CART.SUMMARY.TITLE' | translate }}
  </h2>

  <div class="summary-box bg-zinc-50 dark:bg-zinc-600">
    <div class="coupon-section">
      <div class="coupon-input-group">
        <input
          type="text"
          [placeholder]="'CART.SUMMARY.COUPON_PLACEHOLDER' | translate"
          class="coupon-input text-zinc-800 dark:text-zinc-50 border border-zinc-300 dark:border-zinc-600 dark:bg-zinc-500"
        />
        <app-custom-button variant="primary">
          <svg lucideTicket [size]="24"></svg>
          {{ 'CART.SUMMARY.APPLY_COUPON' | translate }}
        </app-custom-button>
      </div>

      <div
        class="applied-coupons-box border border-zinc-300 dark:border-zinc-600 dark:bg-zinc-500"
      >
        <span>{{ 'CART.SUMMARY.NO_COUPONS' | translate }}</span>
      </div>
    </div>

    <div class="totals-section">
      <div class="totals-row">
        <span class="subtotal-label text-zinc-800 dark:text-zinc-50"
          >{{ 'CART.SUMMARY.SUBTOTAL' | translate }}</span
        >
        <span class="subtotal-val text-zinc-800 dark:text-zinc-50"
          >{{ subtotal() | number:'1.0-2' }} EGP</span
        >
      </div>
      <div class="divider bg-zinc-300 dark:bg-zinc-700"></div>
      <div class="totals-row total-row">
        <span class="total-label text-maroon-600 dark:text-soft-pink-200"
          >{{ 'CART.SUMMARY.TOTAL' | translate }}</span
        >
        <span class="total-val text-maroon-600 dark:text-soft-pink-200"
          >{{ total() | number:'1.0-2' }} EGP</span
        >
      </div>
    </div>
  </div>

  <app-custom-button variant="primary" [fullWidth]="true" [disabled]="isCartEmpty()" (btnClick)="goToCheckout()">
    {{ 'CART.SUMMARY.CHECKOUT' | translate }}
    <svg lucideArrowRight [size]="16" class="rtl:rotate-180"></svg>
  </app-custom-button>
</div>
