/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "../../../libs/shared-theme/src/theme.css";
@import "./app/styles/base/tailwind.css";
@import "flag-icons/css/flag-icons.min.css";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}




.hero-carousel-container .p-carousel-indicator-button {
  background-color: rgba(255,255,255,.4) !important;
  width: .45rem !important;
  height: .45rem !important;
  border-radius: 50% !important;
  border: none !important;
}

.hero-carousel-container .p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #8B2626 !important;
  width: 1.5rem !important;
  border-radius: 9999px !important;
}

