<section class="w-[90%] mx-auto p-6 bg-maroon-50 dark:bg-zinc-700 rounded-2xl">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 items-center">

    <div class="flex items-center gap-4 px-2">
      <div class="w-12 h-12 rounded-full bg-maroon-600 dark:bg-soft-pink-200 text-white flex items-center justify-center shrink-0">
        <svg lucideTruck class="w-6 h-6"></svg>
      </div>
      <div class="flex flex-col">
        <h4 class="text-sm font-bold text-maroon-600 dark:text-soft-pink-200 tracking-wide">
          {{ 'features.0.title' | translate }}
        </h4>
        <p class="text-xs text-zinc-500 dark:text-zinc-300 mt-0.5 font-medium whitespace-nowrap">
          {{ 'features.0.description' | translate }}
        </p>
      </div>
    </div>

    <div class="flex items-center gap-4 px-2">
      <div class="w-12 h-12 rounded-full bg-maroon-600 dark:bg-soft-pink-200 text-white flex items-center justify-center shrink-0">
        <svg lucideRotateCcw class="w-6 h-6"></svg>
      </div>
      <div class="flex flex-col">
        <h4 class="text-sm font-bold text-maroon-600 dark:text-soft-pink-200 tracking-wide">
          {{ 'features.1.title' | translate }}
        </h4>
        <p class="text-xs text-zinc-500 dark:text-zinc-300 mt-0.5 font-medium whitespace-nowrap">
          {{ 'features.1.description' | translate }}
        </p>
      </div>
    </div>

    <div class="flex items-center gap-4 px-2">
      <div class="w-12 h-12 rounded-full bg-maroon-600 dark:bg-soft-pink-200 text-white flex items-center justify-center shrink-0">
        <svg lucideShieldCheck class="w-6 h-6"></svg>
      </div>
      <div class="flex flex-col">
        <h4 class="text-sm font-bold text-maroon-600 dark:text-soft-pink-200 tracking-wide">
          {{ 'features.2.title' | translate }}
        </h4>
        <p class="text-xs text-zinc-500 dark:text-zinc-300 mt-0.5 font-medium whitespace-nowrap">
          {{ 'features.2.description' | translate }}
        </p>
      </div>
    </div>

    <div class="flex items-center gap-4 px-2">
      <div class="w-12 h-12 rounded-full bg-maroon-600 dark:bg-soft-pink-200 text-white flex items-center justify-center shrink-0">
        <svg lucideHeadphones class="w-6 h-6"></svg>
      </div>
      <div class="flex flex-col">
        <h4 class="text-sm font-bold text-maroon-600 dark:text-soft-pink-200 tracking-wide">
          {{ 'features.3.title' | translate }}
        </h4>
        <p class="text-xs text-zinc-500 dark:text-zinc-300 mt-0.5 font-medium whitespace-nowrap">
          {{ 'features.3.description' | translate }}
        </p>
      </div>
    </div>

  </div>
</section>
