<div class="min-h-screen flex flex-col lg:flex-row bg-white dark:bg-zinc-800">
  <!-- Content -->
  <div class="flex-1 flex items-center justify-center py-12">
    <div class="w-full max-w-md px-5">
      <p class="font-zain text-zinc-700 text-end dark:text-zinc-50">العربية</p>
      <img src="/images/maroon-separator.png" alt="" class="my-10 dark:hidden" />
      <img src="/images/pink-separator.png" alt="" class="my-10 hidden dark:block" />
        <router-outlet></router-outlet>
      <img src="/images/maroon-separator.png" alt="" class="rotate-180 my-10 dark:hidden" />
      <img src="/images/pink-separator.png" alt="" class="rotate-180 my-10 hidden dark:block" />
    </div>
  </div>

  <!-- Right Side - image -->
  <div class="hidden lg:flex flex-1 h-screen sticky top-0 overflow-hidden">
    <img src="/images/auth-background.png" alt="Gifts Cover" class="w-full h-full object-cover" />
  </div>
</div>