<section >
   <h2 class="mb-2 text-3xl ps-1 font-inter text-gray-800 font-bold">Create Account</h2>
@if(step()===1){
  <form [formGroup]="verifyEmail" (ngSubmit)="sendEmailVerification()">

<div class="mb-4">
    <lib-ui-label forId="email">
Email
  </lib-ui-label>
  <lib-custom-input
 formControlName="email" type="email" placeholder="user@example.com" value="email" (input)="$event"
             customClass="w-full border border-zinc-200 rounded-xl p-3 pr-10 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
></lib-custom-input>
   @if (verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched) {
        <p-message severity="error" variant="simple" styleClass="text-red-800" size="small">email is required</p-message>
        }
  <lib-ui-button type="submit" [loading]="isLoading()"> Next </lib-ui-button>
  <lib-ui-error-message [hide]="isError()"> {{msgError()}} </lib-ui-error-message>

</div>
</form>
}
@if(step()===2){

<div class="otp-card">
  <h2>Verify Identity</h2>
  <p class="subtitle">Enter the {{ length }}-digit code sent to your registered channel.</p>

  <form [formGroup]="confirmEmail" (ngSubmit)="onSubmit()">
    <div class="otp-inputs-wrapper" (paste)="onPaste($event)">
      @for (control of otpFormArray.controls; track $index) {
          <input #otpInput
          type="text"
          inputmode="numeric"
          maxlength="1"
          [formControl]="control"
          (input)="onInputChange($event, $index)"
          (keydown)="onKeyDown($event, $index)"
          [attr.disabled]="isLoading() ? true : null"
          class="otp-digit-box "/>
      }
    </div>

    @if (feedbackMessage(); as msg) {
      <div [class]="'alert-message ' + msg.type">
        {{ msg.text }}
      </div>
    }

    <div class="action-footer">
      <button
        type="submit"
        [disabled]="isLoading() || otpFormArray.invalid"
        class="btn-verify"
      >
        @if (isLoading()) {
          <span class="spinner"></span>
        } @else {
          Verify Code
        }
      </button>
      <div class="resend-timer-wrapper">
        @if (timer() > 0) {
          <span class="timer-text">Resend option active in <strong>{{ timer() }}s</strong></span>
        } @else {
          <button
            type="button"
            (click)="handleResend()"
            [disabled]="isResending()"
            class="btn-resend"
          >
            {{ isResending() ? 'Sending...' : 'Resend OTP' }}
          </button>
        }
      </div>
    </div>
  </form>
</div>

}
@if(step()===3){

<div class="min-h-screen bg-[#fafafa] flex flex-col items-center justify-center p-6">

  <div class="w-full max-w-xl bg-white rounded-3xl border border-zinc-100 p-8 shadow-sm">

    <div class="text-center mb-8 relative">
      <span class="absolute top-0 right-0 text-zinc-400 text-xs cursor-pointer hover:text-zinc-600">العربية</span>

      <h2 class="font-serif text-4xl text-[#8C3434] font-normal italic mb-4 pt-4">
        Become part of our family!
      </h2>
      <hr class="border-zinc-100 w-full" />
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-4">

      <div class="grid grid-cols-2 gap-4">
        <div>
          <lib-ui-label forId="firstName" class="block text-sm font-medium text-zinc-600 mb-1">First name</lib-ui-label>
          <lib-custom-input
            formControlName="firstName"
            type="text"
            placeholder="Jonathan"
            customClass="w-full border border-zinc-200 rounded-xl p-3 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
          ></lib-custom-input>
          @if (registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched) {
            <p-message severity="error" variant="simple" styleClass="text-xs mt-1 text-red-600"></p-message>
          }
        </div>

        <div>
          <lib-ui-label forId="lastName" class="block text-sm font-medium text-zinc-600 mb-1">Last name</lib-ui-label>
          <lib-custom-input
            formControlName="lastName"
            type="text"
            placeholder="Adrian"
            customClass="w-full border border-zinc-200 rounded-xl p-3 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
          ></lib-custom-input>
          @if (registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched) {
            <p-message severity="error" variant="simple" styleClass="text-xs mt-1 text-red-600"></p-message>
          }
        </div>
      </div>
       <div>
        <lib-ui-label forId="username" class="block text-sm font-medium text-zinc-600 mb-1">username</lib-ui-label>
        <lib-custom-input
          formControlName="username"
          type="text"
          placeholder="user@example.com"
          customClass="w-full border border-zinc-200 rounded-xl p-3 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
        ></lib-custom-input>
        @if (registerForm.get('username')?.errors && registerForm.get('username')?.touched) {
          <p-message severity="error" variant="simple" styleClass="text-xs mt-1 text-red-600"></p-message>
        }
      </div>

      <div>
        <lib-ui-label forId="email" class="block text-sm font-medium text-zinc-600 mb-1">Email</lib-ui-label>
        <lib-custom-input
          formControlName="email"
          type="email"
          placeholder="user@example.com"
          customClass="w-full border border-zinc-200 rounded-xl p-3 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
        ></lib-custom-input>
        @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
          <p-message severity="error" variant="simple" styleClass="text-xs mt-1 text-red-600"></p-message>
        }
      </div>




      <div>
        <lib-ui-label forId="gender" class="block text-sm font-medium text-zinc-600 mb-1">Gender</lib-ui-label>
        <div class="relative">
          <select
            formControlName="gender"
            class="w-full border border-zinc-200 rounded-xl p-3 bg-zinc-50/50 text-zinc-400 focus:text-zinc-700 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all appearance-none bg-[url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%20http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%20viewBox%3D%200%200%2024%2024%20fill%3D%20none%20stroke%3D%20%23a1a1aa%20stroke-width%3D%202%20%3E%3Cpath%20d%3D%20M6%209l6%206%206-6%20%2F%3E%3C%2Fsvg%3E')] bg-[length:1.25rem] bg-[right_0.75rem_center] bg-no-repeat"
          >
            <option value="" disabled selected>Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>

      <div>
        <lib-ui-label forId="password" class="block text-sm font-medium text-zinc-600 mb-1">Password</lib-ui-label>
        <div class="relative">
          <lib-custom-input
            formControlName="password"
            type="password"
            placeholder="Password@12345"
            customClass="w-full border border-zinc-200 rounded-xl p-3 pr-10 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
          ></lib-custom-input>
          <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 text-zinc-400 hover:text-zinc-600 text-sm">
            <svg lucideEye></svg>
          </button>
        </div>
      </div>

      <div>
        <lib-ui-label forId="confirmPassword" class="block text-sm font-medium text-zinc-600 mb-1">Confirm Password</lib-ui-label>
        <div class="relative">
          <lib-custom-input
            formControlName="confirmPassword"
            type="password"
            placeholder="••••••••"
            customClass="w-full border border-zinc-200 rounded-xl p-3 pr-10 bg-zinc-50/50 text-zinc-700 placeholder-zinc-300 focus:bg-white focus:border-[#8C3434] focus:ring-1 focus:ring-[#8C3434] outline-none transition-all"
          ></lib-custom-input>
          <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 text-zinc-300 text-sm pointer-events-none">
            <svg lucideEyeOff></svg>
          </button>
        </div>
      </div>

      <div class="pt-4">
        <lib-ui-button
          type="submit"
          [loading]="isLoading()"
          class="w-full block"
        >

            Create Account
        </lib-ui-button>
          <lib-ui-error-message [hide]="isError()"> {{msgError()}} </lib-ui-error-message>
         @if(isSubmitting()){
           <p class="bg-green-400 text-white px-2 py-4 border"> {{isSubmitting()}} </p>
         }

      </div>



    </form>
  </div>
</div>

}
</section>
