:host {
  display: block;
}

.bottom-nav-item.active {
  background-color: #FDE8EC;
  color: #741C21;
}

:host-context(.dark) .bottom-nav-item.active,
html.dark .bottom-nav-item.active {
  background-color: rgba(116, 28, 33, 0.35);
  color: #FFAAB9;
}

.bottom-nav-item.active svg {
  color: #741C21;
}

:host-context(.dark) .bottom-nav-item.active svg,
html.dark .bottom-nav-item.active svg {
  color: #FFAAB9;
}
