<div class="text-center mb-6">
  <h2>{{ 'AUTH.REGISTER.VERIFY_IDENTITY' | translate }}</h2>
  <p class="subtitle dark:text-blue-50">
    {{
      'AUTH.REGISTER.OTP_SENT_TO'
        | translate: { length: length(), email: email() }
    }}
  </p>

  <form [formGroup]="confirmEmail" (ngSubmit)="onSubmit()">
    <div class="otp-inputs-wrapper" (paste)="onPaste($event)">
      @for (control of otpFormArray.controls; track $index) {
        <input
          #otpInput
          type="text"
          inputmode="numeric"
          maxlength="1"
          [formControl]="control"
          (input)="onInputChange($event, $index)"
          (keydown)="onKeyDown($event, $index)"
          [attr.disabled]="loading.isLoading() ? true : null"
          class="w-11.25 h-11.25 bg-white dark:bg-zinc-700 text-center rounded-[10px]
            border border-zinc-300 hover:border-zinc-400 focus:border-maroon-600
            dark:border-zinc-600 hover:dark:border-zinc-500 dark:focus:border-soft-pink-400
            focus:outline-none focus:ring-0 font-bold text-lg"
        />
      }
    </div>

    @if (feedbackMessage(); as message) {
      <div [class]="'alert-message ' + message.type">
        {{ message.text }}
      </div>
    }

    <div class="action-footer">
      <lib-ui-button
        type="submit"
        variant="verify"
        [loading]="loading.isLoading()"
        [disabled]="otpFormArray.invalid"
      >
        {{ 'AUTH.REGISTER.VERIFY_CODE' | translate }}
      </lib-ui-button>

      @if (expirationTimer() > 0) {
        <p class="text-sm text-amber-600 dark:text-zinc-50">
          {{ 'AUTH.REGISTER.CODE_EXPIRES' | translate }}
          <strong>{{ getFormattedExpirationTime() }}</strong>
        </p>
      } @else {
        <p class="text-sm text-red-600 dark:text-zinc-50">
          {{ 'AUTH.REGISTER.CODE_EXPIRED' | translate }}
        </p>
      }

      <div class="resend-timer-wrapper">
        @if (timer() > 0) {
          <span class="timer-text dark:text-zinc-50">
            {{
              'AUTH.REGISTER.RESEND_ACTIVE'
                | translate: { seconds: timer() }
            }}
          </span>
        } @else {
          <button
            type="button"
            (click)="handleResend()"
            [disabled]="loading.isLoading()"
            class="btn-resend"
          >
            {{
              (loading.isLoading()
                ? 'AUTH.COMMON.SENDING'
                : 'AUTH.REGISTER.RESEND_OTP') | translate
            }}
          </button>
        }
      </div>
    </div>
  </form>
</div>
